.container{
    display:flex;
    gap:30px;
}

.novo-atendimento{
    width:50%;
}

.historico{
    width:50%;
}

body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#resultado {
    margin-top: 30px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f8f8f8;
}

.servico-card {
    margin-left: 20px;
}

/* DASHBOARD */

.dashboard-container{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.dashboard-card{
    flex:1;
    background:white;
    border-radius:10px;
    padding:20px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.dashboard-card h3{
    margin:0;
    font-size:20px;
}

.dashboard-card p{
    margin-top:15px;
    font-size:40px;
    font-weight:bold;
}