.container{
    display:flex;
    gap:30px;
}

.novo-atendimento{
    width:50%;
}

.historico{
    width:50%;
}

body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#resultado {
    margin-top: 30px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f8f8f8;
}

.servico-card {
    margin-left: 20px;
}